<script setup>
import { onMounted, ref, watch } from "vue";
import { useStore } from "@/stores/main";
import Modal from "./Modal.vue";

const store = useStore();
const modal = ref(null);
const alpacaKeyId = ref("");
const alpacaSecretKey = ref("");

onMounted(() => {
  store.getAlpacaKeyId().then((keyId) => {
    if (keyId !== undefined) {
      alpacaKeyId.value = keyId;
    }
  });

  store.getAlpacaSecretKey().then((secretKey) => {
    if (secretKey !== undefined) {
      alpacaSecretKey.value = secretKey;
    }
  });

  watch(alpacaKeyId, (keyId) => {
    store.setEncryptedAlpacaKeyId(keyId);
  });

  watch(alpacaSecretKey, (secretKey) => {
    store.setEncryptedAlpacaSecretKey(secretKey);
  });
});

const open = function () {
  modal.value.open();
};

defineExpose({ open });
</script>

<template>
  <Modal class="settings" modalType="right-side" ref="modal" title="Settings">
    <div class="field">
      <label for="alpaca_key_id">Alpaca Key ID</label>
      <input id="alpaca_key_id" type="password" v-model="alpacaKeyId" />
    </div>
    <div class="field">
      <label for="alpaca_secret_key">Alpaca Secret Key</label>
      <input id="alpaca_secret_key" type="password" v-model="alpacaSecretKey" />
    </div>
    <div class="field checkbox">
      <label for="alpaca_live">Alpaca Live</label>
      <input
        type="checkbox"
        v-model="store.alpacaLive"
        true-value="yes"
        false-value="no"
      />
    </div>
  </Modal>
</template>

<style scoped>
.field {
  margin-bottom: 10px;
}

.field:last-child {
  margin-bottom: 0;
}

.field.checkbox label {
  display: inline-block;
  margin: 0 5px 0 0;
  width: auto;
}

label,
input {
  display: block;
  font-size: 20px;
  width: 100%;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 5px;
}

input[type="checkbox"] {
  display: inline-block;
  padding: 0;
  width: auto;
}
</style>
