<script setup>
import { ref } from "vue";
import Modal from "./Modal.vue";

defineProps(["question"]);

let resolvePromise;
const question = ref("");
const modal = ref(null);

const open = function (options) {
  question.value = options.question;

  modal.value.open();

  return new Promise((resolve) => {
    resolvePromise = resolve;
  });
};

const confirmAction = function () {
  modal.value.close();
  resolvePromise(true);
};

const cancel = function () {
  modal.value.close();
  resolvePromise(false);
};

defineExpose({ open });
</script>

<template>
  <Modal
    class="confirm-dialog"
    modalType="basic"
    :onClose="cancel"
    ref="modal"
    title="Confirm"
  >
    <p class="question">{{ question }}</p>
    <div class="actions">
      <button class="action-button cancel" @click="cancel">Cancel</button>
      <button class="action-button" @click="confirmAction">OK</button>
    </div>
  </Modal>
</template>

<style>
.basic.confirm-dialog .container {
  padding-top: 0;
  top: auto;
}

.basic-enter-to.confirm-dialog .container {
  opacity: 1;
  transform: translateY(0);
}

.basic-enter-from.confirm-dialog .container,
.basic-leave-to.confirm-dialog .container {
  opacity: 1;
  transform: translateY(100%);
}

.confirm-dialog .body {
  text-align: center;
}

.confirm-dialog .question {
  font-size: 20px;
  margin: 0;
}

.confirm-dialog .actions {
  margin-top: 40px;
}

.confirm-dialog .action-button {
  margin: 0 10px;
}

@media (min-width: 576px) {
  .basic.confirm-dialog .container {
    top: 50%;
    width: 400px;
  }

  .basic-enter-to.confirm-dialog .container {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  .basic-enter-from.confirm-dialog .container,
  .basic-leave-to.confirm-dialog .container {
    opacity: 0;
    transform: translate(-50%, -50%);
  }
}
</style>
