<script setup>
import { onMounted, ref } from "vue";
import { disableScroll, enableScroll } from "../lib/utils";
import SvgIcon from "./SvgIcon.vue";

const props = defineProps(["modalType", "onClose", "title"]);
const show = ref(false);

const open = function () {
  disableScroll();
  show.value = true;
};

const close = function () {
  enableScroll();
  show.value = false;
};

const onCloseFunc = function () {
  if (props.onClose !== undefined) {
    props.onClose();
  } else {
    close();
  }
};

onMounted(() => {
  document.body.addEventListener("keyup", (e) => {
    if (e.code === "Escape") {
      close();
    }
  });
});

defineExpose({ open, close });
</script>

<template>
  <Transition :name="modalType" :duration="500">
    <div v-if="show" :class="['wrapper', modalType]" @click.self="onCloseFunc">
      <div class="container">
        <div class="header">
          <h2 class="title">{{ title }}</h2>
          <button class="close button-icon" @click="onCloseFunc">
            <SvgIcon id="close" />
          </button>
        </div>
        <div class="body">
          <slot></slot>
        </div>
      </div>
    </div>
  </Transition>
</template>

<style scoped>
.wrapper {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 4;
}

.container {
  background: #fff;
  padding-bottom: env(safe-area-inset-bottom);
  padding-top: env(safe-area-inset-top);
  position: absolute;
  z-index: 5;
}

.basic .container {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.right-side .container {
  box-shadow: -2px 0 4px 2px rgba(0, 0, 0, 0.2);
  height: 100%;
  right: 0;
}

.basic-leave-active,
.basic-enter-active,
.basic-leave-active .container,
.basic-enter-active .container,
.right-side-leave-active,
.right-side-enter-active,
.right-side-leave-active .container,
.right-side-enter-active .container {
  transition: all 0.5s ease;
}

.basic-enter-from,
.basic-leave-to,
.right-side-enter-from,
.right-side-leave-to {
  background: none;
}

.basic-enter-to .container {
  opacity: 1;
}

.basic-enter-from .container,
.basic-leave-to .container {
  opacity: 0;
}

.right-side-enter-to .container {
  transform: translateX(0);
}

.right-side-enter-from .container,
.right-side-leave-to .container {
  transform: translateX(100%);
}

.header {
  display: flex;
  padding: 20px;
}

.header .title {
  font-size: 32px;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.header .close {
  height: 25px;
  margin-left: auto;
  width: 25px;
}

.body {
  padding: 20px;
}

@media (min-width: 576px) {
  .basic .container {
    border-radius: 4px;
    bottom: auto;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
    left: 50%;
    right: auto;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
</style>
