<script setup>
defineProps(["id"]);
</script>

<template>
  <svg class="icon">
    <use :href="`icons-sprite.svg#${id}`"></use>
  </svg>
</template>

<style scoped>
.icon {
  height: 100%;
  width: 100%;
}
</style>
