<script setup>
import { computed, onMounted, ref } from "vue";
import { useSwipe } from "@vueuse/core";
import { disableScroll, enableScroll } from "../lib/utils";
import SvgIcon from "./SvgIcon.vue";

const emit = defineEmits(["delete"]);
const container = ref(null);
const target = ref(null);
const actionButton = ref(null);
const animated = ref(false);
const right = ref("0");
const actionButtonLeft = ref("100%");

let startDirection;
let previousRight = 0;

const containerWidth = computed(() => container.value?.offsetWidth);
const actionButtonWidth = computed(() => actionButton.value?.offsetWidth);
const actionButtonLeftLimit = computed(
  () => containerWidth.value - actionButtonWidth.value
);

const animate = function () {
  animated.value = true;
};

const reset = function () {
  animate();
  right.value = "0";
  previousRight = 0;
  actionButtonLeft.value = "100%";
};

const emitDelete = function () {
  emit("delete", { onCancel: reset });
};

const { direction, lengthX } = useSwipe(target, {
  onSwipe() {
    animated.value = false;

    /*
    Store the direction so we can determine if user's intention was to swipe
    up/down or left/right.
    */
    if (startDirection === undefined) {
      startDirection = direction.value;
    }

    /*
    Check direction if left/right to initiate swipe to delete experience. If
    the user's intention was to swipe up/down (e.g. scrolling), swipe to delete
    shouldn't occur.
    */
    if (startDirection == "LEFT" || startDirection == "RIGHT") {
      /*
      Disable scrolling on body when swipe to delete experience is being
      triggered so the page won't scroll while swiping to delete.
      */
      disableScroll();

      if (containerWidth.value) {
        const length = Math.abs(lengthX.value);

        if (lengthX.value > 0) {
          right.value = `${previousRight + length}px`;
          actionButtonLeft.value = `${Math.max(
            containerWidth.value - (previousRight + length),
            actionButtonLeftLimit.value
          )}px`;
        } else if (lengthX.value < 0) {
          right.value = `${Math.max(previousRight - length, 0)}px`;
          actionButtonLeft.value = `${Math.min(
            actionButtonLeftLimit.value + length,
            containerWidth.value
          )}px`;
        } else {
          right.value = "0";
        }
      }
    } else {
      reset();
    }
  },
  onSwipeEnd() {
    if (startDirection == "LEFT" || startDirection == "RIGHT") {
      animate();

      // Re-enable scrolling on body when swipe to delete experience is done.
      enableScroll();

      if (
        lengthX.value > 0 &&
        containerWidth.value &&
        Math.abs(lengthX.value) / containerWidth.value >= 0.8
      ) {
        right.value = "100%";
        emitDelete();
      } else if (
        lengthX.value > 0 &&
        Math.abs(lengthX.value) >= actionButtonWidth.value
      ) {
        right.value = `${actionButtonWidth.value}px`;
        previousRight = actionButtonWidth.value;
      } else {
        reset();
      }
    }

    startDirection = undefined;
  },
  threshold: 5,
});

onMounted(() => {
  document.body.addEventListener("click", () => {
    reset();
  });

  document.body.addEventListener("touchstart", (e) => {
    const x = e.changedTouches[0].pageX - window.pageXOffset;
    const y = e.changedTouches[0].pageY - window.pageYOffset;
    const touchTarget = document.elementFromPoint(x, y);

    if (
      touchTarget !== container.value &&
      !container.value.contains(touchTarget)
    ) {
      reset();
    }
  });
});
</script>

<template>
  <div class="container" ref="container">
    <div class="target" :class="{ animated }" ref="target" :style="{ right }">
      <slot></slot>
    </div>
    <div class="action">
      <button
        class="button-icon"
        :class="{ animated }"
        @click.stop="emitDelete()"
        ref="actionButton"
        :style="{ left: actionButtonLeft }"
      >
        <SvgIcon id="remove" />
      </button>
    </div>
  </div>
</template>

<style scoped>
.container {
  align-items: stretch;
  border-radius: 4px;
  display: flex;
  overflow: hidden;
  position: relative;
}

.target {
  min-width: 0;
  position: relative;
  width: 100%;
  z-index: 1;
}

.animated {
  transition: all 0.2s ease-in-out;
}

.action {
  align-items: center;
  background: #e33e33;
  bottom: 0;
  display: flex;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.action .button-icon {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 60px;
}

.icon {
  fill: #fff;
  height: 20px;
  width: 20px;
}

@media (hover: hover) and (pointer: fine) {
  .container:hover .action {
    position: static;
    width: auto;
    z-index: 1;
  }

  .action .button-icon {
    height: 100%;
    margin: 0;
    padding: 5px;
    position: static;
    width: auto;
  }

  .icon {
    height: 20px;
    width: 20px;
  }
}
</style>
