<script setup>
import { onMounted, ref } from "vue";
import { useStore } from "@/stores/main";
import LoadingIcon from "./LoadingIcon.vue";
import SvgIcon from "./SvgIcon.vue";
import _ from "lodash";
import { getAsset } from "../lib/alpaca";

const store = useStore();
const searchTerm = ref("");
const show = ref(false);
const loading = ref(false);
const searchResult = ref(null);

const close = function () {
  searchTerm.value = "";
  show.value = false;
};

onMounted(() => {
  document.body.addEventListener("keyup", (e) => {
    if (e.code === "Escape") {
      close();
    }
  });

  window.addEventListener("click", () => {
    close();
  });
});

const updateSearchResult = function (symbol) {
  searchResult.value = symbol;
};

const search = _.debounce(function () {
  if (searchTerm.value !== "") {
    loading.value = true;

    getAsset(store, searchTerm.value)
      .then((response) => {
        loading.value = false;
        updateSearchResult(response.data.symbol);
        show.value = true;
      })
      .catch(() => {
        loading.value = false;
        show.value = false;
      });
  }
}, 500);

const updateSearchTerm = function (event) {
  searchTerm.value = event.target.value;

  search();
};

const addSymbol = function (symbol) {
  store.addSymbol(symbol);
  updateSearchResult(null);
  close();
};
</script>

<template>
  <div class="search-container" @click.stop="">
    <input
      type="search"
      placeholder="Search a symbol..."
      @input="updateSearchTerm"
      :value="searchTerm"
    />
    <LoadingIcon v-if="loading" class="loading-icon" />
    <div class="results-container" v-if="searchResult !== null && show">
      <ul>
        <li>
          <div class="result-info">
            <span class="name">{{ searchResult }}</span>
          </div>
          <button
            class="button-icon"
            v-if="!store.symbols.includes(searchResult)"
            @click="addSymbol(searchResult)"
          >
            <SvgIcon id="add" />
          </button>
        </li>
      </ul>
    </div>
  </div>
</template>

<style scoped>
.search-container {
  align-items: center;
  display: flex;
  margin-right: auto;
  max-width: 300px;
  position: relative;
  z-index: 2;
}

input {
  border-color: #d8c3a5;
  font-size: 24px;
  height: 50px;
  padding: 10px 50px 10px 10px;
  width: 100%;
}

.loading-icon {
  height: 30px;
  position: absolute;
  right: 10px;
  width: 30px;
}

.results-container {
  background: #fff;
  border: 1px solid #d8c3a5;
  border-radius: 4px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  position: absolute;
  top: 53px;
  width: 100%;
  z-index: 3;
}

.results-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.results-container li {
  align-items: center;
  border-bottom: 1px solid #d8c3a5;
  display: flex;
  margin: 0;
  padding: 20px;
}

.results-container li:last-child {
  border-bottom: none;
}

.result-info {
  margin-right: 20px;
  overflow: hidden;
}

.result-info .name,
.result-info .description {
  display: block;
}

.result-info .name {
  font-size: 18px;
  font-weight: bold;
}

.result-info .description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.results-container li button {
  height: 30px;
  margin-left: auto;
  width: 30px;
}

@media (min-width: 576px) {
  input,
  .results-container {
    width: 300px;
  }
}
</style>
