<script setup>
import { computed } from "vue";
import SvgIcon from "./SvgIcon.vue";
import SwipeToDelete from "./SwipeToDelete.vue";

const props = defineProps(["price", "symbol"]);

const round = function (value) {
  return Math.round((value + Number.EPSILON) * 100) / 100;
};

const currentPrice = computed(() => {
  return round(props.price.currentPrice);
});

const priceChange = computed(() => {
  return round(props.price.currentPrice - props.price.previousClosePrice);
});

const percentageChange = computed(() => {
  return round(
    ((props.price.currentPrice - props.price.previousClosePrice) /
      props.price.previousClosePrice) *
      100
  );
});

const priceState = computed(() => {
  if (props.price.currentPrice < props.price.previousClosePrice) {
    return "down";
  } else {
    return "up";
  }
});
</script>

<template>
  <SwipeToDelete @delete="$emit('delete', $event)">
    <div class="symbol-info">
      <div class="handle">
        <SvgIcon id="reorder" />
      </div>
      <div class="info">
        <div class="basic-info">
          <h3>{{ symbol }}</h3>
        </div>
        <div :class="['price', priceState]">
          <span class="current-price">${{ currentPrice }}</span>
          <div class="change">
            <span class="price-change">{{ priceChange }}</span>
            <span class="percentage-change">({{ percentageChange }}%)</span>
          </div>
        </div>
      </div>
    </div>
  </SwipeToDelete>
</template>

<style scoped>
.symbol-info {
  background: #fff;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  font-size: 16px;
  min-width: 100%;
  padding: 0;
  position: relative;
}

.handle {
  align-items: center;
  background: #f2f0e8;
  cursor: move;
  display: flex;
  min-height: 100%;
  padding: 5px;
}

.handle .icon {
  height: 20px;
  width: 20px;
}

.info {
  align-items: center;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 20px;
  width: calc(100% - 30px);
}

.basic-info,
.price {
  line-height: 1.2;
  min-width: 0;
}

.basic-info h3 {
  font-size: inherit;
  margin: 0;
  padding: 0;
}

.price {
  flex-shrink: 0;
  margin-left: 20px;
  text-align: right;
}

.price span {
  padding: 0;
}

.price .current-price {
  display: block;
  font-weight: bold;
  margin: 0;
}

.price .change {
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  padding: 2px 6px;
}

.price .price-change {
  margin-right: 5px;
}

.price.down .change {
  background: #e33e33;
}

.price.up .change {
  background: #668925;
}
</style>
