<script setup>
import { onMounted, ref, watch } from "vue";
import { useStore } from "@/stores/main";
import _ from "lodash";
import draggable from "vuedraggable";
import SymbolInfo from "./SymbolInfo.vue";
import ConfirmDialog from "./ConfirmDialog.vue";
import { datesAreOnSameDay } from "../lib/utils";
import { getSnapshot, getSnapshots } from "../lib/alpaca";
import { Capacitor } from "@capacitor/core";
import { App } from "@capacitor/app";

let socket;
const store = useStore();
const confirmDialog = ref(null);

const updateSymbolPriceFromSnapshot = function (symbol, data) {
  const dailyBarDate = new Date(data.dailyBar.t);
  const previousClosePrice = datesAreOnSameDay(dailyBarDate, new Date())
    ? data.prevDailyBar.c
    : data.dailyBar.c;

  store.updateSymbolPrice(symbol, {
    currentPrice: data.latestTrade.p,
    previousClosePrice: previousClosePrice,
    timestamp: new Date(data.latestTrade.t).getTime(),
  });
};

const syncSymbol = function (symbol) {
  getSnapshot(store, symbol)
    .then((response) => {
      updateSymbolPriceFromSnapshot(symbol, response.data);
    })
    .catch((error) => console.log(error.message));
};

const deleteSymbol = async function (event, index, symbol) {
  const ok = await confirmDialog.value.open({
    question: "Delete " + symbol + "?",
  });

  if (ok) {
    store.deleteSymbol(index, symbol);

    if (socket?.readyState === socket.OPEN) {
      socket.send(JSON.stringify({ action: "unsubscribe", trades: [symbol] }));
    }
  } else {
    if (event !== undefined && event.onCancel !== undefined) {
      event.onCancel();
    }
  }
};

const subscribeSymbol = function (symbol) {
  if (socket?.readyState === socket.OPEN) {
    socket.send(JSON.stringify({ action: "subscribe", trades: [symbol] }));
  }
};

const initRealtime = function () {
  store.getAlpacaCredentials().then((creds) => {
    if (creds !== undefined) {
      socket = new WebSocket("wss://stream.data.alpaca.markets/v2/iex");

      socket.addEventListener("open", function () {
        socket.send(
          JSON.stringify({
            action: "auth",
            key: creds.keyId,
            secret: creds.secretKey,
          })
        );
        store.symbols.forEach((symbol) => {
          subscribeSymbol(symbol);
        });
      });

      socket.addEventListener("message", function (event) {
        const data = JSON.parse(event.data);

        data.forEach((item) => {
          if (item.T == "t") {
            store.updateSymbolPrice(item.S, {
              currentPrice: item.p,
              timestamp: new Date(item.t).getTime(),
            });
          }
        });
      });

      socket.addEventListener("close", function (event) {
        console.log(
          "Socket is closed. Reconnect will be attempted in 5 seconds.",
          event.reason
        );
        setTimeout(() => {
          initRealtime();
        }, 5000);
      });
    }
  });
};

const init = function () {
  getSnapshots(store, store.symbols).then((response) => {
    const data = response.data;

    store.symbols.forEach((symbol) => {
      updateSymbolPriceFromSnapshot(symbol, data[symbol]);
    });
  });

  initRealtime();
};

onMounted(() => {
  init();

  if (Capacitor.isNative) {
    App.addListener("appStateChange", ({ isActive }) => {
      if (isActive) {
        init();
      } else {
        if (socket?.readyState === socket.OPEN) {
          socket.close();
        }
      }
    });
  }
});

watch(
  () => store.symbols,
  (newSymbols, oldSymbols) => {
    const toBeUpdated = _.differenceWith(newSymbols, oldSymbols, _.isEqual);

    toBeUpdated.forEach((symbol) => {
      syncSymbol(symbol);
      subscribeSymbol(symbol);
    });
  },
  { deep: true }
);
</script>

<template>
  <draggable
    class="symbols-container"
    delay="200"
    delay-on-touch-only="false"
    force-fallback="true"
    handle=".handle"
    item-key="symbol"
    :list="store.symbols"
  >
    <template #item="{ element, index }">
      <div v-if="store.symbolsPrice[element]" class="symbol">
        <SymbolInfo
          :key="element"
          :price="store.symbolsPrice[element]"
          :symbol="element"
          @delete="(event) => deleteSymbol(event, index, element)"
        />
      </div>
    </template>
  </draggable>
  <Teleport to="body">
    <ConfirmDialog ref="confirmDialog" />
  </Teleport>
</template>

<style scoped>
.symbols-container {
  display: flex;
  flex-wrap: wrap;
}

.symbol,
.sortable-drag {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.symbol {
  margin-bottom: 20px;
  width: 100%;
}

.sortable-drag {
  width: calc(100% - 40px);
}

.symbol.sortable-chosen {
  opacity: 0.1;
}

@media (min-width: 576px) {
  .symbol {
    margin-left: 10px;
    margin-right: 10px;
    width: 354px;
  }
}
</style>
