html, body {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  height: 100vh;
  overflow: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

label, input {
  box-sizing: border-box;
}

input {
  border: 1px solid #000;
  border-radius: 4px;
}

input:focus {
  outline: none;
}

input[type="search"] {
  background: #fff;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
