@import "./base.css";

.button-icon {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.action-button {
  background: #000;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  padding: 10px 20px;
}

.action-button.cancel {
  background: #e33e33;
}
