<script setup>
import { ref } from "vue";
import { useStore } from "@/stores/main";
import AppSettings from "./components/AppSettings.vue";
import SymbolSearcher from "./components/SymbolSearcher.vue";
import TrackedSymbols from "./components/TrackedSymbols.vue";
import SvgIcon from "./components/SvgIcon.vue";

const body = ref(null);
const settings = ref(null);

useStore().body = body;
</script>

<template>
  <div class="header">
    <SvgIcon id="logo" class="logo" />
    <SymbolSearcher />
    <button class="button-icon" @click="settings.open()">
      <SvgIcon id="settings" />
    </button>
  </div>
  <div class="body" ref="body">
    <TrackedSymbols />
  </div>
  <Teleport to="body">
    <AppSettings ref="settings" />
  </Teleport>
</template>

<style scoped>
.header {
  align-items: center;
  background: #eae7dc;
  display: flex;
  padding: 20px;
  padding-top: calc(env(safe-area-inset-top) + 20px);
}

.header button {
  flex-shrink: 0;
  height: 40px;
  margin-left: 20px;
  width: 40px;
}

.logo {
  display: none;
  flex-shrink: 0;
  height: 50px;
  margin-right: 20px;
  width: 50px;
}

.body {
  height: calc(
    100vh - (110px + env(safe-area-inset-top) + env(safe-area-inset-bottom))
  );
  overflow: auto;
  padding: 20px 20px env(safe-area-inset-bottom) 20px;
}

@media (min-width: 576px) {
  .logo {
    display: block;
  }

  .body {
    padding-left: 10px;
    padding-right: 10px;
  }
}
</style>
